{% extends 'templates/base.twig' %}

{% block title %} Hello Kortex {% endblock %}

{% block content %}
	<header>
		<h1> Hello Kortex!</h1>
	<header>

	<main>
		<p> Kortex has loaded and working. </p>
	</main>
{% endblock %}